<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  
    <div class="imgage-container">
      <img class="doodleimg" src="/images/doodlenary2.png.png" />
    </div>
    <div class="imgButton">
      <button value="Login" href="#">Login</button>
      <button value="Registration" href="#">Registration</button>
    </div>
    
</body>
</html>