/* body {
    background-image: url('../images/wp2587167.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    /* opacity: 0.2; */
    
/* }; */

.parallax {
    /* The image used */
    background-image: url("../images/wp2587167.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    } */
    

.doodleImg {
    
    width: 500px;
    height: 500px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    
};

a {
    
    color: white;
    font-family: 'Coming Soon', cursive;

};

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

/*Responsive Styles*/


/* Smartphones (portrait) ---------------- */
@media only screen 
and (max-width : 320px)
{
/* Add Your CSS Styling Here */
}

/* Smartphones (landscape) ---------------- */
@media only screen 
and (min-width : 321px)
and (max-width : 767px)
{
/* Add Your CSS Styling Here */
}

/* Tablets (portrait) -------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
/* Add Your CSS Styling Here */
}


/* Tablets (landscape) ------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{   
/* Add Your CSS Styling Here */
}

/* Old Desktops and laptops ------------------ */
@media only screen 
and (min-width : 1025px) 
{
/* Add Your CSS Styling Here */
}

/* Desktops ------------------ */
@media only screen 
and (min-width : 1201px) 
{
/* Add Your CSS Styling Here */
}



